Lab10/flows (2).json
[{"id":"7d8b854d.2ef1cc","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"320925d3.f01a5a","type":"image","z":"7d8b854d.2ef1cc","name":"Labeled Image","width":"640","data":"payload","dataType":"msg","thumbnail":false,"active":false,"pass":false,"outputs":0,"x":1240,"y":140,"wires":[]},{"id":"3461dae2.476236","type":"image","z":"7d8b854d.2ef1cc","name":"Input Image","width":"640","data":"payload","dataType":"msg","thumbnail":false,"pass":false,"outputs":0,"x":450,"y":620,"wires":[]},{"id":"2c017655.a7133a","type":"change","z":"7d8b854d.2ef1cc","name":"Set Payload to Image","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"TBB Faces\"].image","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":320,"wires":[["320925d3.f01a5a"]]},{"id":"ce76c5ac.5e5378","type":"debug","z":"7d8b854d.2ef1cc","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1030,"y":420,"wires":[]},{"id":"3f5a573f.0e3cf8","type":"base64","z":"7d8b854d.2ef1cc","name":"","action":"","property":"payload","x":480,"y":500,"wires":[["3461dae2.476236"]]},{"id":"6af49c77.dee144","type":"face-api-input","z":"7d8b854d.2ef1cc","name":"Find Faces","numNodes":1,"computeNode1":"5adfec11.8f4ef4","computeNode2":"","computeNode3":"","computeNode4":"","computeNode5":"","computeNode6":"","computeNode7":"","computeNode8":"","computeNode9":"","computeNode10":"","x":650,"y":260,"wires":[["2c017655.a7133a","657d45b5.bdddbc"]]},{"id":"7fd9a6e0.8ac458","type":"http in","z":"7d8b854d.2ef1cc","name":"HTTP REQ","url":"/get_img","method":"get","upload":false,"swaggerDoc":"","x":270,"y":180,"wires":[["66784f67.ae409"]]},{"id":"3601885a.aaa1e8","type":"http response","z":"7d8b854d.2ef1cc","name":"HTTP RESPONSE","statusCode":"200","headers":{},"x":1170,"y":520,"wires":[]},{"id":"191652fa.1c61dd","type":"inject","z":"7d8b854d.2ef1cc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":380,"wires":[["36f538d1.14bae8"]]},{"id":"36f538d1.14bae8","type":"file in","z":"7d8b854d.2ef1cc","name":"Get Local Image","filename":"C:\\Users\\Tasli\\Desktop\\Node Folder\\IoTCourse\\Lab10\\test_img.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":480,"y":320,"wires":[["6af49c77.dee144","3f5a573f.0e3cf8"]]},{"id":"66784f67.ae409","type":"function","z":"7d8b854d.2ef1cc","name":"Save Res","func":"flow.set(\"myRes\",msg.res);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":260,"wires":[["36f538d1.14bae8"]]},{"id":"657d45b5.bdddbc","type":"function","z":"7d8b854d.2ef1cc","name":"Get Res","func":"msg.payload = {\"faces\": msg.payload[\"TBB Faces\"].faces,\n                \"image\": msg.payload[\"TBB Faces\"].image\n}\nmsg.res = flow.get(\"myRes\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":420,"wires":[["ce76c5ac.5e5378","3601885a.aaa1e8"]]},{"id":"5adfec11.8f4ef4","type":"face-api-compute","name":"TBB Faces","childHost":true,"recognitionType":"SSD","multipleFaces":"Multiple Faces","confidence":"50","inputSize":"416","landmarks":true,"expressions":true,"ageGender":true,"recognition":false,"labelName":"known","file":""}]