Lab10/flows (1).json
[{"id":"5570e84c.3e71e8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"49668411.8950cc","type":"image","z":"5570e84c.3e71e8","name":"Labeled Image","width":"640","data":"payload","dataType":"msg","thumbnail":false,"pass":false,"outputs":0,"x":880,"y":400,"wires":[]},{"id":"c48e2f33.6a976","type":"image","z":"5570e84c.3e71e8","name":"Input Image","width":"640","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":210,"y":440,"wires":[]},{"id":"eaf6d8ce.517378","type":"change","z":"5570e84c.3e71e8","name":"Set Payload to Image","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"TBB Faces\"].image","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":360,"wires":[["49668411.8950cc"]]},{"id":"55cea2f8.16b56c","type":"debug","z":"5570e84c.3e71e8","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":970,"y":260,"wires":[]},{"id":"acf0624a.e36cc","type":"base64","z":"5570e84c.3e71e8","name":"","action":"","property":"payload","x":200,"y":320,"wires":[["c48e2f33.6a976"]]},{"id":"5c55245a.4b544c","type":"face-api-input","z":"5570e84c.3e71e8","name":"Find Faces","numNodes":1,"computeNode1":"5adfec11.8f4ef4","computeNode2":"","computeNode3":"","computeNode4":"","computeNode5":"","computeNode6":"","computeNode7":"","computeNode8":"","computeNode9":"","computeNode10":"","x":530,"y":300,"wires":[["eaf6d8ce.517378","855dc25d.41db3"]]},{"id":"3583466e.892a5a","type":"camera","z":"5570e84c.3e71e8","name":"","x":240,"y":180,"wires":[["5c55245a.4b544c","acf0624a.e36cc"]]},{"id":"855dc25d.41db3","type":"function","z":"5570e84c.3e71e8","name":"Get Expression","func":"msg.payload = {\"expression\": msg.payload[\"TBB Faces\"].faces[0].expressionLabel}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":220,"wires":[["55cea2f8.16b56c"]]},{"id":"5adfec11.8f4ef4","type":"face-api-compute","name":"TBB Faces","childHost":true,"recognitionType":"SSD","multipleFaces":"Multiple Faces","confidence":"50","inputSize":"416","landmarks":true,"expressions":true,"ageGender":true,"recognition":false,"labelName":"known","file":""}]