Lab11/noderedFlow.txt
[{"id":"7dfc624.407339c","type":"tab","label":"LAB11","disabled":false,"info":""},{"id":"99b7aafb.eae9f8","type":"image","z":"7dfc624.407339c","name":"Labeled Image","width":"640","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":1180,"y":200,"wires":[]},{"id":"d7b5e52c.66f748","type":"image","z":"7dfc624.407339c","name":"Input Image","width":"640","data":"payload","dataType":"msg","thumbnail":false,"pass":false,"outputs":0,"x":390,"y":680,"wires":[]},{"id":"241e6ad5.13e5f6","type":"change","z":"7dfc624.407339c","name":"Set Payload to Image","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"TBB Faces\"].image","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":380,"wires":[["99b7aafb.eae9f8"]]},{"id":"85f9e6ed.1e27a8","type":"debug","z":"7dfc624.407339c","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1090,"y":480,"wires":[]},{"id":"842c084c.137d38","type":"base64","z":"7dfc624.407339c","name":"","action":"","property":"payload","x":420,"y":560,"wires":[["d7b5e52c.66f748"]]},{"id":"1e1e3040.799e7","type":"face-api-input","z":"7dfc624.407339c","name":"Find Faces","numNodes":1,"computeNode1":"5adfec11.8f4ef4","computeNode2":"","computeNode3":"","computeNode4":"","computeNode5":"","computeNode6":"","computeNode7":"","computeNode8":"","computeNode9":"","computeNode10":"","x":710,"y":340,"wires":[["241e6ad5.13e5f6","63c86f8d.59aa1"]]},{"id":"251e331.c4daccc","type":"http in","z":"7dfc624.407339c","name":"HTTP INVOKE","url":"/get_emotion","method":"get","upload":false,"swaggerDoc":"","x":220,"y":240,"wires":[["1c3cd1e2.3efe1e"]]},{"id":"ba88234d.d574a","type":"http response","z":"7dfc624.407339c","name":"HTTP RESPONSE","statusCode":"200","headers":{},"x":1110,"y":580,"wires":[]},{"id":"68e43fa1.1262f","type":"inject","z":"7dfc624.407339c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":520,"wires":[[]]},{"id":"63c86f8d.59aa1","type":"function","z":"7dfc624.407339c","name":"Get Res","func":"msg.payload = {\"faces\": msg.payload[\"TBB Faces\"].faces,\n                \"image\": msg.payload[\"TBB Faces\"].image\n}\nmsg.res = flow.get(\"myRes\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":560,"wires":[["85f9e6ed.1e27a8","ba88234d.d574a"]]},{"id":"d4238686.94ba28","type":"http request","z":"7dfc624.407339c","name":"","method":"use","ret":"bin","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":440,"wires":[["842c084c.137d38","1e1e3040.799e7"]]},{"id":"1c3cd1e2.3efe1e","type":"function","z":"7dfc624.407339c","name":"Save Res & Set Query","func":"flow.set(\"myRes\",msg.res);\n\nmsg.headers = {}\nmsg.method = \"GET\"\nmsg.url = \"http://localhost:3000/images/\"+ msg.req.query.name ;\n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":360,"wires":[["d4238686.94ba28"]]},{"id":"5adfec11.8f4ef4","type":"face-api-compute","name":"TBB Faces","childHost":true,"recognitionType":"SSD","multipleFaces":"Multiple Faces","confidence":"50","inputSize":"416","landmarks":true,"expressions":true,"ageGender":true,"recognition":false,"labelName":"known","file":""}]