Lab12/noderedflow.txt
[{"id":"5570e84c.3e71e8","type":"tab","label":"Lab12","disabled":false,"info":""},{"id":"49668411.8950cc","type":"image","z":"5570e84c.3e71e8","name":"Labeled Image","width":"640","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":680,"y":680,"wires":[]},{"id":"c48e2f33.6a976","type":"image","z":"5570e84c.3e71e8","name":"Input Image","width":"640","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":270,"y":540,"wires":[]},{"id":"eaf6d8ce.517378","type":"change","z":"5570e84c.3e71e8","name":"Set Payload to Image","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"TBB Faces\"].image","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":640,"wires":[[]]},{"id":"acf0624a.e36cc","type":"base64","z":"5570e84c.3e71e8","name":"","action":"","property":"payload","x":280,"y":480,"wires":[[]]},{"id":"5c55245a.4b544c","type":"face-api-input","z":"5570e84c.3e71e8","name":"Find Faces","numNodes":1,"computeNode1":"5adfec11.8f4ef4","computeNode2":"","computeNode3":"","computeNode4":"","computeNode5":"","computeNode6":"","computeNode7":"","computeNode8":"","computeNode9":"","computeNode10":"","x":490,"y":440,"wires":[["eaf6d8ce.517378","cfe1f24f.65811"]]},{"id":"3583466e.892a5a","type":"camera","z":"5570e84c.3e71e8","name":"","x":270,"y":380,"wires":[["5c55245a.4b544c","acf0624a.e36cc"]]},{"id":"cfe1f24f.65811","type":"function","z":"5570e84c.3e71e8","name":"make payload","func":"msg.payload = {\n    \"emotions\": msg.payload[\"TBB Faces\"].faces[0].expressionLabel,\n    \"image\": 'data:image/png;base64,' + msg.payload[\"TBB Faces\"].image.toString('base64')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":440,"wires":[["4cb80dd1.55e974","8762f19a.8119c"]]},{"id":"4cb80dd1.55e974","type":"change","z":"5570e84c.3e71e8","name":"Set Payload to emotions","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.emotions","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":380,"wires":[["f12cfdc3.a3fea"]]},{"id":"8762f19a.8119c","type":"change","z":"5570e84c.3e71e8","name":"Set Payload to Image","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.image","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":520,"wires":[["7bd74785.ecb118"]]},{"id":"aba3486b.ec87e8","type":"mqtt out","z":"5570e84c.3e71e8","name":"Emotion","topic":"coe457/emotions","qos":"0","retain":"","broker":"5600b28c.6067ec","x":1500,"y":240,"wires":[]},{"id":"7bd74785.ecb118","type":"mqtt out","z":"5570e84c.3e71e8","name":"Image","topic":"coe457/images","qos":"","retain":"","broker":"5600b28c.6067ec","x":1170,"y":540,"wires":[]},{"id":"f12cfdc3.a3fea","type":"switch","z":"5570e84c.3e71e8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"surprised","vt":"str"},{"t":"eq","v":"disgusted","vt":"str"},{"t":"eq","v":"fearful","vt":"str"},{"t":"eq","v":"sad","vt":"str"},{"t":"eq","v":"angry","vt":"str"},{"t":"eq","v":"happy","vt":"str"},{"t":"eq","v":"neutral","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":1110,"y":240,"wires":[["35165074.a7257"],["2742a8f1.cbf178"],["ba914ed7.a77ae"],["bcd22392.8b238"],["54c6dfbe.8a8cd"],["75688646.fabc18"],["80d65dad.6dc54"]]},{"id":"75688646.fabc18","type":"function","z":"5570e84c.3e71e8","name":"Happy","func":"msg.payload = \"HAPPY YAY\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1290,"y":320,"wires":[["aba3486b.ec87e8"]]},{"id":"80d65dad.6dc54","type":"function","z":"5570e84c.3e71e8","name":"Neutral","func":"msg.payload = \"Neutral HMM.. go do something exciting!\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1300,"y":360,"wires":[["aba3486b.ec87e8"]]},{"id":"54c6dfbe.8a8cd","type":"function","z":"5570e84c.3e71e8","name":"Angry","func":"msg.payload = \"Calm Down Please\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1290,"y":280,"wires":[["aba3486b.ec87e8"]]},{"id":"bcd22392.8b238","type":"function","z":"5570e84c.3e71e8","name":"Sad","func":"msg.payload = \"Why are you Sad? Cheer Up \";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1290,"y":240,"wires":[["aba3486b.ec87e8"]]},{"id":"35165074.a7257","type":"function","z":"5570e84c.3e71e8","name":"Surprised","func":"msg.payload = \"You look surprised! Wow\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1300,"y":120,"wires":[["aba3486b.ec87e8"]]},{"id":"2742a8f1.cbf178","type":"function","z":"5570e84c.3e71e8","name":"Disgusted","func":"msg.payload = \"What's so Disgusting!?\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1300,"y":160,"wires":[["aba3486b.ec87e8"]]},{"id":"ba914ed7.a77ae","type":"function","z":"5570e84c.3e71e8","name":"Fearful","func":"msg.payload = \"Don't be scared! We here.\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1300,"y":200,"wires":[["aba3486b.ec87e8"]]},{"id":"92413162.37da6","type":"mqtt in","z":"5570e84c.3e71e8","name":"Test Emotions","topic":"coe457/emotions","qos":"2","datatype":"auto","broker":"5600b28c.6067ec","x":270,"y":60,"wires":[["a7623e06.3eb0f"]]},{"id":"a7623e06.3eb0f","type":"debug","z":"5570e84c.3e71e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":60,"wires":[]},{"id":"e034d279.f5e9e","type":"mqtt in","z":"5570e84c.3e71e8","name":"Test Images","topic":"coe457/images","qos":"2","datatype":"auto","broker":"5600b28c.6067ec","x":270,"y":140,"wires":[["5a82b79d.74ecf8"]]},{"id":"5a82b79d.74ecf8","type":"image","z":"5570e84c.3e71e8","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":460,"y":140,"wires":[]},{"id":"5adfec11.8f4ef4","type":"face-api-compute","name":"TBB Faces","childHost":true,"recognitionType":"SSD","multipleFaces":"Multiple Faces","confidence":"50","inputSize":"416","landmarks":true,"expressions":true,"ageGender":true,"recognition":false,"labelName":"known","file":""},{"id":"5600b28c.6067ec","type":"mqtt-broker","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]