Lab11_submitted/lab11-flow.json
[{"id":"dd27d2c.5a54d3","type":"tab","label":"IotLab11","disabled":false,"info":""},{"id":"ae4f263d.12a118","type":"image","z":"dd27d2c.5a54d3","name":"Labeled Image","width":"640","data":"payload","dataType":"msg","thumbnail":false,"active":false,"pass":false,"outputs":0,"x":1240,"y":140,"wires":[]},{"id":"2842f918.97a4c6","type":"image","z":"dd27d2c.5a54d3","name":"Input Image","width":"640","data":"payload","dataType":"msg","thumbnail":false,"pass":false,"outputs":0,"x":450,"y":620,"wires":[]},{"id":"134a012b.7bf00f","type":"change","z":"dd27d2c.5a54d3","name":"Set Payload to Image","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"TBB Faces\"].image","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":320,"wires":[["ae4f263d.12a118"]]},{"id":"316fa415.9d13ac","type":"debug","z":"dd27d2c.5a54d3","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1030,"y":420,"wires":[]},{"id":"39391437.00070c","type":"base64","z":"dd27d2c.5a54d3","name":"","action":"","property":"payload","x":480,"y":500,"wires":[["2842f918.97a4c6"]]},{"id":"6b67f6c6.f71d88","type":"face-api-input","z":"dd27d2c.5a54d3","name":"Find Faces","numNodes":1,"computeNode1":"5adfec11.8f4ef4","computeNode2":"","computeNode3":"","computeNode4":"","computeNode5":"","computeNode6":"","computeNode7":"","computeNode8":"","computeNode9":"","computeNode10":"","x":650,"y":260,"wires":[["134a012b.7bf00f","37027048.09ef1"]]},{"id":"b8c66b4.99ce798","type":"http in","z":"dd27d2c.5a54d3","name":"HTTP REQ","url":"/detect_face","method":"get","upload":false,"swaggerDoc":"","x":270,"y":180,"wires":[["fbdb42cd.85002"]]},{"id":"8fd283de.e2753","type":"http response","z":"dd27d2c.5a54d3","name":"HTTP RESPONSE","statusCode":"200","headers":{},"x":1230,"y":560,"wires":[]},{"id":"726221ed.06aaf","type":"inject","z":"dd27d2c.5a54d3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":380,"wires":[[]]},{"id":"fbdb42cd.85002","type":"function","z":"dd27d2c.5a54d3","name":"Save Res","func":"flow.set(\"myRes\",msg.res);\nmsg.payload = msg.req.query;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":260,"wires":[["2f5dc1d2.cf197e","164f8354.a0788d"]]},{"id":"37027048.09ef1","type":"function","z":"dd27d2c.5a54d3","name":"Get Res","func":"msg.payload = {\"faces\": msg.payload[\"TBB Faces\"].faces[0].expressionLabel,\n                \"image\": msg.payload[\"TBB Faces\"].image.toString('base64')\n}\nmsg.res = flow.get(\"myRes\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":420,"wires":[["316fa415.9d13ac","7d4a7ae4.2b5834"]]},{"id":"7d4a7ae4.2b5834","type":"template","z":"dd27d2c.5a54d3","name":"html file to return","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n<html>\n \n<head>\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jq\nuery/3.5.1/jquery.min.js\"></script>\n    <!-- Bootstrap CSS -->\n    <link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css\"\n        integrity=\"sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2\" crossorigin=\"anonymous\">\n</head>\n \n<body>\n    <div class=\"container\">\n        <div class=\"text-center\">\n            <h1>Facial Detection Result</h1>\n            <h2>Emotion Detected: {{payload.faces}}</h2>\n            <img src=\"data:image/png;base64, {{payload.image}}\" alt=\"Card image cap\">\n        </div>\n    </div>\n</body>\n \n</html>","output":"str","x":1010,"y":540,"wires":[["8fd283de.e2753"]]},{"id":"2f5dc1d2.cf197e","type":"http request","z":"dd27d2c.5a54d3","name":"Get image from Express","method":"GET","ret":"bin","paytoqs":"query","url":"http://localhost:1234/get_face","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":380,"wires":[["6b67f6c6.f71d88","39391437.00070c","1396a945.2f5fe7"]]},{"id":"164f8354.a0788d","type":"debug","z":"dd27d2c.5a54d3","name":"initial req","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":480,"y":200,"wires":[]},{"id":"1396a945.2f5fe7","type":"debug","z":"dd27d2c.5a54d3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":180,"wires":[]},{"id":"5adfec11.8f4ef4","type":"face-api-compute","name":"TBB Faces","childHost":true,"recognitionType":"SSD","multipleFaces":"Multiple Faces","confidence":"50","inputSize":"416","landmarks":true,"expressions":true,"ageGender":true,"recognition":false,"labelName":"known","file":""}]